<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">

  <title></title>
</head>
<body>

  <table>
    <tr>
      <th> Catagory</th>
      <th> Total Spent</th>
      <th> Average Transaction </th>
    </tr>



<% @output.each do |name, info| %>
  <br>
    <p> "======================================================================"<br>
     "Account: #{name}... Balance: $<%= info[:tally].round(2) %>
   "======================================================================"<br>
   </p>
   <table>
    <th> "Category </th> 
    <th> Total Spent </th>
    <th> Average Transaction"</th>

  <% info[:categories].each do |category, c_info| %>
  <tr> <td> <%= category.ljust(28)%> </td><td>$<%= c_info[:tally].round(2).to_s.ljust(10) %></td><td> $<%= c_info[:average_transaction_cost].round(2).to_s.ljust(20) %></td></tr>
  <% end %>
  <br>
<% end %>




  </table>
  <h1> Account: nAMEoFaCCOUNT.. Balance: aMOUNToFbALANCE</h1>
  <p>========================================================</p>
  <h2> Category | Total Spent   | Average Transaction</h2>
  <p>----------------------------------------------------------------------------------------------</p>


  <p>I just want to print out the <%= @output%></p>
</body>
</html>



