<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="cssrules.css">

	<title></title>
</head>
<body>

<<<<<<< HEAD

<% @output.each do |name, info| %>  	
	<h1>Account: <%= name %>... Balance: $<%= info[:tally].round(2) %></h1>
    <table >
		<th> Category </th> 
		<th> Total Spent </th>
		<th> Average Transaction</th>
			<% info[:categories].each do |category, c_info| %>
  		<tr> 
  			<td> <%= category %> </td>
  			<td>$<%= c_info[:tally].round(2) %></td>
  			<td> $<%= c_info[:average_transaction_cost].round(2) %></td>
  		</tr>
	<% end %>
	</table>
<% end %>


=======
	<h1> Account: <%= @account_name%>.. Balance: <%= @current_balance%> </h1>
	<p>========================================================</p>
	<h2> Category	|	Total Spent		|	Average Transaction</h2>
	<p>----------------------------------------------------------------------------------------------</p>
>>>>>>> f06d84e768e5f73b53f0e695c22b6fd20e4dc887


	<p><%= @output%></p>
</body>
</html>



